<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>

<div class="container">    
    <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">ลงทะเบียน</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="/login">เข้าสูระบบ</a></div>
            </div>

            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form" action="/signup" method="POST">
                    <% if (errorMessage) { %>
                        <div class="alert alert-danger"><%= errorMessage %></div>
                    <% } %>
                    <div class="form-group">
                        <label for="empid" class="col-md-3 control-label">เลขพนักงาน</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="empid" placeholder="Empid">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">อีเมลล์</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">ชื่อ</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">นามสกุล</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">รหัสผ่าน</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="icode" class="col-md-3 control-label">Invitation Code</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="icode" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info">Sign Up</button>
                            <span style="margin-left:8px;">or</span>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-fbsignup" type="button" class="btn btn-primary">Sign Up with Facebook</button>
                        </div>
                    </div>
                </form>
            </div>                   
        </div>  
    </div>
</div>
<script>
    document.getElementById('btn-signup').addEventListener('click', function(e) {
        const email = document.querySelector('input[name="email"]').value;
        const firstname = document.querySelector('input[name="firstname"]').value;
        const lastname = document.querySelector('input[name="lastname"]').value;
        const password = document.querySelector('input[name="password"]').value;
        const icode = document.querySelector('input[name="icode"]').value;
        const validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;   //format email

        if (email === '' || firstname === '' || lastname === '' || password === '' || icode === '') {
            e.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'เตือน',
                text: 'กรุณากรอกข้อมูลให้ครบ!',
            });
        } else if (!validRegex.test(email)) {
            e.preventDefault();
            Swal.fire({
                icon: 'warning',
                title: 'เตือน',
                text: 'The correct format of email address!',
            });
        }
    });
</script>
</body>
</html>
